@import '../../../styles/settings.scss';

.single_result {
  margin: calc($base-size * 2) calc($base-size * 3.5);
  padding: 0;
  background-color: $transparent-background;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  
  transition-property: opacity, filter, transform;
  transition-duration: $transition-duration-medium;
  filter: saturate(0), blur(4px);
  transform: scale(0.9);
  
  @media (max-width: $media-border) {
    flex-direction: column;
    margin: calc($base-size * 2.5) calc($base-size * 2);
    margin-bottom: 0px;

    &:last-of-type {
      margin-bottom: calc($base-size * 3);
    }
  }
  
  .image, .description {
    height: 100%;
    
    @media (max-width: $media-border) {
      margin: 0;
    }
  }
  
  .image {
    margin: 0;
    width: 35%;
    height: auto;
  
    @media (max-width: $media-border) {
      width: 100%;
      height: 50%;
    }
  
    a {
      position: relative;
      width: 100%;
      height: 100%;
  
      img, i {
        width: 100%;
        height: 100%;
        transition-duration: $transition-duration;
      }
  
      i {
        position: absolute;
        z-index: 11;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: $color-one;
        font-weight: bold;
        font-size: calc($base-size * 2);
        opacity: 0;
        transform: translateY(-75px);
        transition-property: opacity;
      }
  
      img {
        z-index: 10;
        width: 100%;
        height: 100%;
        transition-property: filter;
      }
  
      &:hover img {
        filter: brightness(.5);

        @media (max-width: $media-border) {
          filter: none;
        }
      }
  
      &:hover i {
        opacity: 1;

        @media (max-width: $media-border) {
          filter: none;
        }
      }
    }
  }
  
  .description {
    width: 65%;
    height: 100%;
    margin: calc($base-size * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: $base-size;
  
    @media (max-width: $media-border) {
      width: auto;
      height: 50%;
      justify-content: center;
      align-items: center;    
    }

    @media (min-width: $media-border) and (max-width: $media-border-tablets) {
      justify-content: center;
      gap: calc($base-size / 1.5);
    }

    @media (min-width: $media-border-tablets) and (max-width: $media-border-big-tablets) {
      justify-content: center;
      gap: calc($base-size / 1.5);
    }
  
    p, a {
      color: $color-two;
      font-size: calc($base-size * 1.5);
      text-align: right;
      width: calc(100% - ($base-size * 2));

      @media (min-width: $media-border) and (max-width: $media-border-tablets) {
        font-size: calc($base-size * 1.2); 
      }
    }
  
    p {
      margin: 0px;
      padding: 0px;
        
      .blue {
        color: $color-one;
      }
  
      @media (max-width: $media-border) {
        text-align: center; 
      }

      @media (min-width: $media-border) and (max-width: $media-border-tablets) {
        line-height: .65;
      }

      @media (min-width: $media-border-tablets) and (max-width: $media-border-big-tablets) {
        line-height: .85;
      }
    }
  
    a {
      text-decoration: none;
      font-weight: bold;
      font-size: calc($base-size * 1.4);
      padding: auto;
      height: calc($base-size * 3);
      width: 240px;
      
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(90deg, $color-one 50% , $transparent-background 50%);
      background-position: 100% 0;
      background-size: 300% 300%;
      transition-duration: $transition-duration;
      transition-property: color, background-color, background-position;
  
      @media (max-width: $media-border) {
        margin-top: calc($base-size / 4);
        margin-bottom: calc($base-size / 4);
        background-position: 0 100%;
        color: $color-three;
        width: calc(100% - ($base-size * 2));
        font-size: calc($base-size * 1.2);
      }

      @media (min-width: $media-border) and (max-width: $media-border-tablets) {
        height: calc($base-size * 2);
      }
  
      i {
        margin: $base-size;
        text-align: center;

        @media (min-width: $media-border) and (max-width: $media-border-tablets) {
          font-size: $base-size;
        }
      }
  
      &:hover {
        background-position: 0 100%;
        color: $transparent-background;
        cursor: pointer;

        @media (max-width: $media-border) {
          background-position: 100% 0;
          color: $color-two;
        }
      }
    }
  
    .button_favorites {
      color: $color-two;
      font-size: calc($base-size * 1.4);
      font-weight: bold;
      padding: auto;
      height: calc($base-size * 3);
      width: 240px;
      
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(90deg, $color-one 50% , $transparent-background 50%);
      background-position: 100% 0;
      background-size: 300% 300%;
      color: $color-three;
      transition-duration: $transition-duration;
      transition-property: color, background-color, background-position, box-shadow;

      @media (max-width: $media-border) {
        margin-bottom: calc($base-size / 4);
        width: calc(100% - ($base-size * 2));
      }

      @media (min-width: $media-border) and (max-width: $media-border-tablets) {
        font-size: $base-size;
        height: calc($base-size * 2);
      }

      &:hover {
        background-position: 0 100%;
        color: $color-three;
        cursor: pointer;

        @media (max-width: $media-border) {
          background-position: 0 100%;
          color: $color-three;
          margin-bottom: calc($base-size / 4);
        }
      }
    }

    .button_selected {
      background-position: 0 100%;
      color: $color-three;

      @media (min-width: $media-border) and (max-width: $media-border-tablets) {
        font-size: $base-size;
      }
    }
  }
}