@import '../../../styles/settings.scss';

.error_page {
  padding-top: ($base-size * 2);
  padding-bottom: $base-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3, h5 {
    font-weight: bold;
    color: $color-error;
    margin: ($base-size / 2);
  }
}