@import '../../../styles/settings.scss';

.searchpage {

    .wrapper {
        padding-top: ($base-size * 6);
        padding-bottom: ($base-size);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form_inner {
            padding: $base-size;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border: $base-size solid $transparent-background;
            border-radius: $radius * 6;

            input {
                width: 100%;
                height: ($base-size *3);
                border: none;
                border-radius: 50px;
                background-color: $transparent-background;
                
            }

            input::placeholder {
                text-align: center;
                color: $color-two;
            }

            input:first-of-type {
                margin-bottom: ($base-size * 1);
            }
            input:last-of-type {
                margin-bottom: ($base-size * 1);
            }
        }
      }

      .search_button {
        margin: ($base-size * 1);
        width: ($base-size * 12);
        height: ($base-size * 3);
        background-color: rgba(0, 0, 0, .5);
        border-radius: $radius;
        text-align: center;

        background-image: linear-gradient(90deg, $color-one 50% , rgba(0, 0, 0, 0) 50%);
        background-position: 100% 0;
        background-size: 300% 300%;

        transition-duration: $transition-duration;
        transition-property: color, background-color, background-position;

        &:hover {
            background-position: 0 100%;
            color: $transparent-background;
            cursor: pointer;
        }
      }
    }
}

.diet {
  display: grid;
  grid-template-columns: repeat(3, calc($base-size * 10));
  grid-template-rows: repeat(2, calc($base-size * 3));
  gap: $base-size;
    
    .button {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 50px;
        text-align: center;
        transition-duration: $transition-duration;
        transition-property: color, background-color;

        &:hover {
            cursor: pointer;
        }

        &.active {
            background-color: $color-one;
            color: rgba(0, 0, 0, .5);
        }
    }

}