@import '../../../styles/settings.scss';

.searchpage {

  .wrapper {
    padding-top: calc($base-size * 6.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-weight: bold;
      color: $color-one;
      text-align: center;
      padding-left: $base-size;
      padding-right: $base-size;
      transition-property: color;
      transition-duration: $transition-duration;
    }

    .main_header {
      margin-top: calc($base-size * 3);
      margin-bottom: calc($base-size * 4);
      color: $color-three;
    }

    .header_error {
      color: $color-error;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
       
      .form_inner {
        padding: $base-size *2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: $base-size solid $transparent-background;
        transition-property: background-color, box-shadow, border-color;
        transition-duration: $transition-duration;

        @media (max-width: $media-border) {
          margin-left: calc($base-size * 2);
          margin-right: calc($base-size * 2);
        }

        input {
          width: 100%;
          height: calc($base-size *3);
          text-align: center;
          color: $color-one;
          font-weight: bold;
          border: none;
          background-color: $transparent-background;
          
          transition-property: border, color, background-color, box-shadow;
          transition-duration: $transition-duration;   
        }

        .input_error {
          &:focus {
            background-color: $error-background;
          }
        }

        input::placeholder {
          text-align: center;
          color: $error-background;
          font-size: calc($base-size * 1.3);
          
          @media (max-width: $media-border) {
            font-size: calc($base-size * 1.5);
          }
        }

        input:focus {
          outline: none;
          background-color: $color-one;
          color: $color-three;
        }

        input:not(:placeholder-shown) {
          background-color: $color-one;
          color: $color-three;
        }

        input:first-of-type {
          margin-bottom: calc($base-size * 2);
        }
          
        input:last-of-type {
          margin-bottom: calc($base-size * 2);
        }
      }

      .form_error {
        border-color: $error-background;
      }
    }

    .search_button {
      margin: calc($base-size * 2);
      width: calc($base-size * 10);
      height: calc($base-size * 3);
      
      color: $color-one;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(90deg, $color-one 50% , $transparent-background 50%);
      background-position: 100% 0;
      background-size: 300% 300%;
      
      transition-duration: $transition-duration;
      transition-property: color, background-color, background-position, box-shadow;

      p {
        margin: auto;
        font-weight: bold;
        font-size: calc($base-size * 1.5);
      }

      &:hover {
      background-position: 0 100%;
      color: $transparent-background;
      cursor: pointer;
      }

      @media (max-width: $media-border) {
        background-position: 0 100%;
        color: $transparent-background;
        box-shadow: 0 0 5px 5px $color-one;
      }
    }

    .error {
      background-image: linear-gradient(90deg, $color-error 100%);
    }

    .offline {
      background-image: linear-gradient(90deg, $color-error 50% , $error-background 50%);

      &:hover {
        box-shadow: 0 0 5px 5px $color-error;
      }
    }
  }
}

.diet {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, calc($base-size * 10));
  grid-template-rows: repeat(2, calc($base-size * 3));
  gap: calc($base-size * 2);

  @media (max-width: $media-border) {
    grid-template-columns: repeat(2, calc(50% - ($base-size)));
    grid-template-rows: repeat(3, calc($base-size * 3));
  }
    
  .button {
    background-color: $transparent-background;
    
    color: $color-one;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: $transition-duration;
    transition-property: color, background-color, box-shadow;
        
    p {
      margin: auto;
      font-weight: bold;
      font-size: calc($base-size * 1.3);

      @media (max-width: $media-border) {
        font-size: calc($base-size * 1.5);
      }

      @media (max-width: $media-border-small) {
        font-size: calc($base-size);
      }
    }
        
    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: $color-one;
      color: $transparent-background;
    }
  }
}