@import '../../../styles/settings.scss';

.about {
    padding-top: ($base-size * 9);
    padding-bottom: ($base-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3, h5 {
        font-weight: bold;
        color: $transparent-background;
        a {
            text-decoration: none;
            &:hover {

            }
        }
    }
}