@import '../../../styles/settings.scss';

.results_wrapper {
  margin-top: $base-size;
  margin-bottom: $base-size;

  h3 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    
    &:last-of-type {
      margin-bottom: calc($base-size * 6);

      @media (max-width: $media-border) {
        margin-bottom: calc($base-size * 5);
      }
    }

  }
}
/*
.hidden {
  opacity: 0;
  filter: blur(6px);
  transform: scale(.5);
}
*/
.visible {
  opacity: 1;
  filter: none;
  transform: scale(1);
}
