@import '../../../styles/settings.scss';

.results_wrapper {
  margin-top: $base-size;
  
  h3 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    
    &:last-of-type {
      margin-bottom: calc($base-size * 6);

      @media (max-width: $media-border) {
        margin-bottom: calc($base-size * 5);
      }
    }

  }
}