@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(../images/pexels-adonyi-gábor-1414651.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $font-text;
  font-size: ($base-size);
  letter-spacing: 0.5px;
}