@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loading {
  from {
    transform: scale(.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes loading_more_results {
  from {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
