$color-one: #66d632;
$color-two: #d9e2ec;
$color-error: rgba(252, 3, 3, 0.904);

$transparent-background: rgba(0, 0, 0, .5);
$error-background: rgba(218, 31, 31, 0.5);

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition-duration: .5s;