$media-border-small: 420px;
$media-border: 720px;
$media-border-tablets: 940px;
$media-border-big-tablets: 1148px;

$color-one: #EAF205;
$color-two: #F2B705;
$color-three: #F23005;
$color-error: rgba(252, 3, 3, 0.904);

$transparent-background: rgba(245, 241, 241, 0.75);
$error-background: rgba(218, 31, 31, 0.5);

$background-image: url(../images/back_large.jpg);
@media (max-width: $media-border) {
  $background-image: url(../images/back_small.jpg);
}

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition-duration: .5s;
$transition-duration-medium: 1s;
$transition-duration-long: 3s;