@import '../../../styles/settings.scss';

.favorites_top, .favorites_bottom {
  color: $color-one;
  margin-top: calc($base-size * 1);
}

.favorites_login {
  text-decoration: none;
  color: $color-one;
  font-weight: bold;
  font-size: calc($base-size * 1.4);
  padding: auto;
  margin: auto;
  height: calc($base-size * 3);
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, $color-one 50% , $transparent-background 50%);
  background-position: 100% 0;
  background-size: 300% 300%;
  transition-duration: $transition-duration;
  transition-property: color, background-color, background-position;

  @media (max-width: $media-border) {
    margin-top: $base-size;
    margin-bottom: $base-size;
    background-position: 0 100%;
    color: $color-three;
  }

  @media (min-width: $media-border) and (max-width: $media-border-tablets) {
    height: calc($base-size * 2);
    margin-top: 0;
  }

  &:hover {
    background-position: 0 100%;
    color: $transparent-background;
    cursor: pointer;

    @media (max-width: $media-border) {
      background-position: 100% 0;
      color: $color-two;
    }
  }
}