@import '../../../styles/settings.scss';

.favorite {
  padding-top: ($base-size * 9);
  padding-bottom: ($base-size * 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3, h5 {
    font-weight: bold;
    color: $color-one;
    margin: ($base-size / 2);
  }

  h3 {
    color: $transparent-background;
  }

  @media (max-width: $media-border) {
    h5:last-of-type {
      margin-bottom: $base-size * 3;
    }
  }
}