@import '../../../styles/settings.scss';

.favorite {
  width: 100%;
  padding: calc($base-size * 9) calc($base-size * 4) calc($base-size * 3) calc($base-size * 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $media-border) {
    padding-left: calc($base-size * 2);
    padding-right: calc($base-size * 2);
  }

  input {
    width: 25dvw;
    height: calc($base-size *3);
    color: $color-one;
    font-weight: bold;
    border: none;
    background-color: $transparent-background;

    transition-property: border, color, background-color, box-shadow;
    transition-duration: $transition-duration;

    @media (max-width: $media-border) {
      width: 100%;
    }
  }

  input:first-of-type {}

  input::placeholder {
    color: $error-background;
    font-size: calc($base-size * 1.3);

    @media (max-width: $media-border) {
      font-size: calc($base-size * 1.5);
    }
  }

  input:focus {
    outline: none;
    background-color: $color-one;
    color: $color-three;
  }

  input:not(:placeholder-shown) {
    background-color: $color-one;
    color: $color-three;
  }

  h3, h5 {
    font-weight: bold;
    color: $color-two;
    text-align: center;
    margin: calc($base-size / 2);
  }

  h3 {
    color: $color-three;
  }

  h5 { 
    margin-bottom: calc($base-size * 3);
  }

  .bottom {
    margin-top: calc($base-size * 2);
    color: $color-one;
      @media (max-width: $media-border) {
        margin-top: $base-size;
      }
  }

  @media (max-width: $media-border) {
    h5:last-of-type {
      margin-bottom: calc($base-size * 3);
    }
  }
}
