@import '../../../styles/settings.scss';

.footer {
  width: 100%;
  z-index: 222;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  transition-property: opacity, bottom;
  transition-duration: $transition-duration;

  .link {
    margin-bottom: $base-size;
    margin-right: $base-size;
    text-decoration: none;
    color: $color-three;
    font-size: calc($base-size * 3);
    font-weight: bold;
    transition-property: transform;
    transition-duration: $transition-duration;

    &:hover {
      transform: scale(1.2);
      color: $color-two;
    }
  }
}

.footer_hidden {
  bottom: -60px;
  opacity: 0;
}