@import '../../../styles/settings.scss';

.noresults_page {
  padding-top: calc($base-size * 2);
  padding-bottom: $base-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3, h5 {
    font-weight: bold;
    color: $color-one;
    margin: calc($base-size / 2);
  }
}