@import '../../../styles/settings.scss';

.logout {
  width: calc($base-size * 12);
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: calc($media-border * 1.2)) {
    height: auto;
  }

  button {
    width: 100%;
    height: calc($base-size * 3);
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color-one;
    
    background-image: linear-gradient(90deg, $color-one 50% , $transparent-background 50%);
    background-position: 100% 0;
    background-size: 300% 300%;
    transition-duration: $transition-duration;
    transition-property: color, background-color, background-position, box-shadow;
    
    &:hover {
      background-position: 0 100%;
      color: $transparent-background;
      cursor: pointer;

      @media (max-width: $media-border) {
        color: $color-one;
        background-position: 100% 0;
      }
    }

    p {
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }
}